# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2024 Texas Instruments Incorporated - https://www.ti.com/
#

if TARGET_J722S_R5_ECU1270 || TARGET_J722S_A53_ECU1270

config SYS_BOARD
	default "j722s_adv"

config SYS_VENDOR
	default "ti"

config SYS_CONFIG_NAME
	default "j722s_adv"

config BOOT_MMC_DEV_0
	def_bool y

config RECOVERY_KEY
	bool "Config recovery key enable/disable"
	default y
	help
	  This config recovery key enable/disable.

config RECOVERY_KEY_GPIO
	int "Config recovery key gpio pin value"
	depends on RECOVERY_KEY
	default 3
	help
	  This config recovery key gpio pin value.

config RECOVERY_KEY_DELAY
	int "Config recovery key press delay time, defaule 5 second"
	depends on RECOVERY_KEY
	default 2
	help
	  This config recovery key press delay time, default 5 second.

source "board/ti/common/Kconfig"

endif

if TARGET_J722S_R5_ECU1270

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

endif
